.logo {
    font-family: $font-logo;
}
.logo_footer {
    font-family: $font-logo;
}

header>.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.header_contackt_item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.gmail,
.number {
  color: $color-mid-gray;
  text-decoration: none;
}

.gmail:hover,
.number:hover {
  color: $color-blue;
}

.icon_header {
  order: -1;
  fill: currentColor;
}

.nav_list {
  display: flex;
  gap: 70px;
  flex-wrap: wrap;
}

.nav_list_item a {
  color: $color-black;
  position: relative;
  padding-bottom: 2px;
}

.nav_list_item a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -21px;
  height: 2px;
  background-color: $color-blue;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.2s ease;
}

.nav_list_item a {
  color: $color-black;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav_list_item a:hover {
  color: $color-blue;
}

.nav_list_item a.nav-link--active::after {
  transform: scaleX(1);
}

.header_contackt a {
  color: $color-mid-gray;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header_contackt a:hover{
  color: $color-blue;
}

.header_contackt {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.header_contackt_item {
  color: $color-black;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header_contackt_item:hover {
  color: $color-blue;
}

.gmail,
.number {
  color: inherit;
}

.icon_header {
  fill: currentColor;
}